{% extends '@App/base.html.twig' %}

{% block body %}

    <div class="container">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores atque deleniti dignissimos doloremque doloribus, ducimus excepturi explicabo harum illum iusto maxime natus nulla odit officiis qui repellendus tempore voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores atque deleniti dignissimos doloremque doloribus, ducimus excepturi explicabo harum illum iusto maxime natus nulla odit officiis qui repellendus tempore voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores atque deleniti dignissimos doloremque doloribus, ducimus excepturi explicabo harum illum iusto maxime natus nulla odit officiis qui repellendus tempore voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores atque deleniti dignissimos doloremque doloribus, ducimus excepturi explicabo harum illum iusto maxime natus nulla odit officiis qui repellendus tempore voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores atque deleniti dignissimos doloremque doloribus, ducimus excepturi explicabo harum illum iusto maxime natus nulla odit officiis qui repellendus tempore voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores atque deleniti dignissimos doloremque doloribus, ducimus excepturi explicabo harum illum iusto maxime natus nulla odit officiis qui repellendus tempore voluptas.
    </div>

{% endblock %}

