{% extends 'AdminBundle::base.html.twig' %}
{% block body %}
    <div class="page-header">
        <div class="page-title">
            <h3>
                DashBoard
                <small>DashBoard</small>
            </h3>
        </div>
    </div>
    <!-- Page statistics -->

    <!-- /page statistics -->

    <div class="panel panel-default">
        <div class="panel-body">

        </div>
    </div>
{% endblock %}
