{% extends 'AdminBundle::base.html.twig' %}

{% block body %}

    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>
                {% trans from 'AdminBundle' %}Pages{% endtrans %}
                <small>{% trans from 'AdminBundle' %}Pages{% endtrans %}</small>
            </h3>
        </div>
    </div>
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ url('admin_default_index') }}">{% trans from 'AdminBundle' %}Home{% endtrans %}</a></li>
            <li class="active">{% trans from 'AdminBundle' %}Pages{% endtrans %}</li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ path('pages_new') }}"
               class="btn btn-primary btn-sm pull-right">{% trans from 'AdminBundle' %}Create a new
                page{% endtrans %}</a>
            <h6 class="panel-title">{% trans from 'AdminBundle' %}Pages{% endtrans %}</h6>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Pagename</th>
                <th width="120">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>

                    <td>{{ page.pageTitle }}</td>
                    <td class="text-right">
                        <a class="btn btn-mini btn-success"
                           href="{{ path('pages_edit', { 'id': page.pageId }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
