{% extends 'admin/base.html.twig' %}

{% block page_title %}Edit Client{% endblock %}

{% block body %}
<div class="row gy-5 g-xl-8">
    <div class="col-xxl-12">
        <div class="card card-xl-stretch mb-5 mb-xl-8">
            <div class="card-header">
                <h3 class="card-title fw-bolder text-dark">{% trans %}Edit Client{% endtrans %}</h3>
            </div>
            <div class="card-body">
    {{ include('admin/client/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
