{% extends 'AdminBundle::base.html.twig' %}
{% form_theme edit_form "bootstrap_3_layout.html.twig"  %}

{% block body %}
    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3>
                {% trans from 'AdminBundle' %}Slider asset edit{% endtrans %}
                <small>{% trans from 'AdminBundle' %}Slider asset edit{% endtrans %}</small>
            </h3>
        </div>

    </div>
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ url('admin_default_index') }}">{% trans from 'AdminBundle' %}Home{% endtrans %}</a></li>
            <li class="active">{% trans from 'AdminBundle' %}Slider asset edit{% endtrans %}</li>
        </ul>
    </div>
    <div class="content">
        
        <!-- BEGIN BASIC FORM ELEMENTS-->
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title">{% trans from "AdminBundle" %}Slider asset edit{% endtrans %}</h4></div>
                	<div class="panel-body">
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input type="submit" class="btn btn-primary" value="{% trans from 'AdminBundle' %}Edit{% endtrans %}"/>
                        {{ form_end(edit_form) }}
                	</div>
                </div>
            </div>
            <div class="col-sm-6"></div>
            </div>
        </div>

{% endblock %}
