// colors
$primary-color : #0095e0;
$main-text: #8f9cb5; // main text
$link: #35a785; // anchor tags
$background: #ffd88f; // body background color

$color-1: #5e6e8d; // blue
$color-2: #fc7169; // red
$color-3: #bad26e; // green

$footerBgColor: #1c1c1c;
$footerColor: #969696;

$second_site_color: #3b69a7;
$main_site_color:$primary-color;
$border-2-color : #3e79ba;
// fonts 

$primary-font: 'Roboto', sans-serif;;